{% extends "base.html" %}
{% block title %}
  Политика обработки персональных данных
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card col-lg-8 col-md-10 col-sm-12 my-4">
      <div class="card-header">
	      <h1>Политика конфиденциальности</h1>
      </div>
      <div class="card-body">
        
        <section aria-labelledby="general" role="region">
          <h5 id="general">1. Общие положения</h5>
          <p>Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» и определяет порядок обработки и меры по обеспечению безопасности персональных данных, предпринимаемые Оператором.</p>
        </section>
        
        <section aria-labelledby="terms" role="region" class="mt-3">
          <h5 id="terms">2. Основные понятия, используемые в Политике</h5>
          <p>Автоматизированная обработка, блокирование, информационная система персональных данных, обезличивание, обработка, оператор, персональные данные, субъект данных и другие термины имеют значение, установленное Законом о персональных данных.</p>
        </section>
        
        <section aria-labelledby="rights-duties" role="region" class="mt-3">
          <h5 id="rights-duties">3. Основные права и обязанности Оператора</h5>
          <ul>
            <li>Оператор обязуется обеспечивать права и свободы человека и гражданина при обработке его персональных данных.</li>
            <li>Не нарушать права на неприкосновенность частной жизни, личную и семейную тайну.</li>
            <li>Предоставлять субъекту персональных данных информацию об обработке его данных.</li>
          </ul>
        </section>
        
        <section aria-labelledby="user-rights" role="region" class="mt-3">
          <h5 id="user-rights">4. Основные права и обязанности субъектов персональных данных</h5>
          <ul>
            <li>Пользователи имеют право требовать уточнения, блокирования или уничтожения своих персональных данных при наличии оснований.</li>
            <li>Могут отозвать согласие на обработку своих персональных данных.</li>
            <li>Обратиться к Оператору для реализации своих прав в соответствии с законом.</li>
          </ul>
        </section>
        
        <section aria-labelledby="principles" role="region" class="mt-3">
          <h5 id="principles">5. Принципы обработки персональных данных</h5>
          <p>Обработка данных осуществляется на законной основе, ограничивается достижением конкретных целей и направлена на защиту конфиденциальности.</p>
        </section>
        
        <section aria-labelledby="processing-goals" role="region" class="mt-3">
          <h5 id="processing-goals">6. Цели обработки персональных данных</h5>
          <p>Цели включают предоставление доступа к сервисам сайта, отправку информационных писем, а также обмен сообщениями.</p>
        </section>
        
        <section aria-labelledby="conditions" role="region" class="mt-3">
          <h5 id="conditions">7. Условия обработки персональных данных</h5>
          <p>Данные обрабатываются с согласия субъекта данных либо в других предусмотренных законом случаях.</p>
        </section>
        
        <section aria-labelledby="collection" role="region" class="mt-3">
          <h5 id="collection">8. Порядок сбора, хранения, передачи и других видов обработки данных</h5>
          <p>Оператор обеспечивает безопасность данных и ограничивает доступ к ним.</p>
        </section>
        
        <section aria-labelledby="actions" role="region" class="mt-3">
          <h5 id="actions">9. Действия с полученными персональными данными</h5>
          <p>Оператор осуществляет сбор, запись, систематизацию, накопление, хранение, уточнение, извлечение, использование, передачу, обезличивание, блокирование, удаление и уничтожение персональных данных.</p>
        </section>
        
        <section aria-labelledby="cross-border" role="region" class="mt-3">
          <h5 id="cross-border">10. Трансграничная передача данных</h5>
          <p>Оператор уведомляет органы защиты данных перед трансграничной передачей данных.</p>
        </section>
        
        <section aria-labelledby="confidentiality" role="region" class="mt-3">
          <h5 id="confidentiality">11. Конфиденциальность данных</h5>
          <p>Доступ к персональным данным не предоставляется третьим лицам без согласия субъекта, за исключением случаев, установленных федеральным законом.</p>
        </section>
        
        <section aria-labelledby="conclusion" role="region" class="mt-3">
          <h5 id="conclusion">12. Заключительные положения</h5>
          <p>Политика действует бессрочно до ее замены новой версией и находится в открытом доступе на сайте.</p>
        </section>
        
      </div>
    </div>
  </div>
{% endblock %}

