{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Восстановление пароля
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <!-- Генерация формы с использованием Bootstrap -->
          {% bootstrap_form form %}
          
          <!-- Кнопка отправки с классом btn-primary для стилизации -->
          {% bootstrap_button button_type="submit" content="Поменять пароль" button_class="btn-primary" %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}

