{% extends "base.html" %}
{% block title %}
  {{ post.title }} | {% if post.location and post.location.is_published %}{{ post.location.name }}{% else %}Планета Земля{% endif %} |
  {{ post.pub_date|date:"d E Y" }}
{% endblock %}
{% block content %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            {% if post.image %}
              <a href="{{ post.image.url }}" target="_blank">
                <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ post.image.url }}" alt="Изображение поста">
              </a>
            {% endif %}
            <h5 class="card-title text-center">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">
              <small>
                {% if not post.is_published %}
                  <span class="text-danger">Пост снят с публикации админом</span><br>
                {% elif not post.category.is_published %}
                  <span class="text-danger">Выбранная категория снята с публикации админом</span><br>
                {% endif %}
                {{ post.pub_date|date:"d E Y, H:i" }} | {% if post.location and post.location.is_published %}{{ post.location.name }}{% else %}Планета Земля{% endif %}<br>
                От автора <a class="text-muted" href="{% url 'blog:profile' post.author.username %}">@{{ post.author.username }}</a> в категории {% include "includes/category_link.html" %}
              </small>
            </h6>
            <p class="card-text">{{ post.text|linebreaksbr }}</p>
            {% if user == post.author %}
              <div class="d-flex justify-content-center mb-3">
                <a class="btn btn-sm btn-outline-secondary mx-1" href="{% url 'blog:edit_post' post_id=post.id %}" role="button">
                  Отредактировать публикацию
                </a>
                <a class="btn btn-sm btn-outline-danger mx-1" href="{% url 'blog:delete_post' post_id=post.id %}" role="button">
                  Удалить публикацию
                </a>
              </div>
            {% endif %}
            {% include "includes/comments.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

