{% extends "base.html" %}
{% block title %}
  Лента записей
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      {% for post in page_obj %}
        <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
          <article class="h-100">
            {% include "includes/post_card.html" %}
          </article>
        </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        {% include "includes/paginator.html" %}
      </div>
    </div>
  </div>
{% endblock %}

